{% extends 'boards/Base.html' %}
{% load static %}
{% block title %}
Edit Post
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' post.topic.boards.pk %}">{{ post.topic.boards.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'topic_posts' post.topic.boards.pk post.topic.pk %}">{{ post.topic.subject }}</a></li>
  <li class="breadcrumb-item active">Edit Post</li>

{% endblock %}
{% block content %} 
<form method="POST" class="mb-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="{% url 'topic_posts' post.topic.boards.pk post.topic.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
