{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} My site {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'boards/style.css' %}">
</head>
<body>
    <div class="container">
        {% block dropmenu %}
        <div> </div>
        {% endblock %}
   <header class="header1">
       <nav>
           <ul >
               <li>
                   <a href="#"> Home </a>
               </li><li>{% block link %}{% endblock %}</li>
               <li> <a href="#blog">Blog</a></li>
               <li> <a href="#about us">About us</a></li>
           </ul>
       </nav>
   </header>
   <div> {% block sidebar %} {% endblock %}
</div>

{% block content %}
 {% endblock %}
 <script src="{% static 'boards/jquery-3.5.0.min.js' %}"></script>
 <script src="{% static 'boards/main.js' %}"></script>

</body>
</html>
